<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}
    <div class="container-flex">
        {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo footer=false}}
        </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo footer=false}}
            </div>
        {{/if}}
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
    </div>
    
    {{{region name="header_navigation_bottom--global"}}}
    <div class="navUser-item" custom-search-container>
        <form class="form"  action="{{urls.search}}">
            <input type="text" class="custom-search" placeholder="Search Cigars & Cigar Accessories" id="search" name="search_query" data-search-quick>
          
                <button class="custom-submit" type="submit" value="{{lang 'search.results.form_button_text'}}">
                <svg>
                    <use xlink:href="#icon-search"></use>
                </svg>
                </button>
            </div>
        </form>
    </div>
    <!-- <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close>
    {{> components/common/quick-search name='nav-quick-search'}}
    </div> -->

    <section class="splide header_splide" aria-label="rotating promotion">
        <div class="splide__track">
              <ul class="splide__list">
                  <li class="splide__slide">Browse our selection of <a href="/cigars/rare-cigars">Exclusive Rare Cigars</a></li>
                  <li class="splide__slide">Uncover the Finest <a href="/cigars/fuente-fuente-opus-x/">Opus</a> X Cigars and <a href="/cigars/arturo-fuente/">Arturo Fuente</a> Creations</li>
                  <li class="splide__slide">Discover <a href="/cigars/davidoff/">Davidoff</a> Unicorn Cigars</li>
              </ul>
        </div>
      </section>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}

