<nav class="navUser">
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{> components/common/currency-selector}}
    {{/or}}

    {{#if theme_settings.show_channels}}
        {{> components/common/channel-selector}}
    {{/if}}

    <ul class="navUser-section navUser-section--alt">
        <div class="container-blurb-header-text">
            <span style="display:none;"><a href="tel:248-499-4700" style="text-decoration: none;"><svg><use xlink:href="#icon-phone"></use></svg> 248-499-4700</a></span>
        </div>
        <li class="navUser-item navUser-item--cart">
            <a class="navUser-action"
               data-cart-preview
               data-dropdown="cart-preview-dropdown"
               data-options="align:right"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
            >
                <span class="navUser-item-cartLabel"><svg id="cart-svg"><use xlink:href="#icon-cart"></use></svg>{{lang 'common.cart'}}</span>
                <span class="countPill cart-quantity"></span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
    </ul>
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close>
        {{> components/common/quick-search name='nav-quick-search'}}
    </div>
</nav>


