---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
gql: "query Experiment($productId: Int!) {
    site {
      product(entityId: $productId) {
        entityId
        variants(first: 50) {
          edges {
            node {
              sku
              inventory{
                isInStock
              }
              defaultImage {
                url(width: 450, height: 450)
              }
              entityId
              productOptions(first: 50) {
                edges {
                  node {
                    ... on MultipleChoiceOption {
                      values {
                        edges {
                          node {
                            entityId
                            label
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}"  
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}
    <div class="container-main-product">
        <div class="col-main-product-container">
            {{> components/products/product-view customer_group_id=customer_group_id gql=gql}}
    
            {{{region name="product_below_content"}}}
    
            {{#if product.videos.list.length}}
                {{> components/products/videos product.videos}}
            {{/if}}
    
            {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
                {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
            {{/all}}
    
            {{> components/products/tabs}}
        </div>
        <div class="col-main-category-container">
            <ul>
                <li class="main-title-categ">CIGARS</li>
                {{#each categories}}
                    {{#if name '==' 'Cigars'}}
                        {{#each children}}
                            <li class="cigars-children">
                                <a href="{{url}}">{{name}}</a>
                            </li>
                        {{/each}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        
    </div>
    
    {{> components/products/schema}}
    <script>
        //on hover product option change main product image request done with 10-12-2024 by j
        document.addEventListener("DOMContentLoaded", function() {
    const gql = document.querySelectorAll('[gql_hover]');
    const mainProductImage = document.querySelector('[data-main-image]');

    let originalAttributes = {}; // Object to store the original attributes

    if (mainProductImage) {
        const mainProductImagePath = mainProductImage.src; // product main image src path
   

        gql.forEach(function(data) {
            const gqlImgPath = data.getAttribute('gql_hover');
            data.addEventListener('mouseover', function() {
      

                // Store the original attributes except for 'src'
                if (mainProductImage) {
                    const attributes = mainProductImage.attributes;
                    Array.from(attributes).forEach(attr => {
                        if (attr.name !== 'src') {
                            originalAttributes[attr.name] = attr.value;
                            mainProductImage.removeAttribute(attr.name);
                        }
                    });

                    // Update the src
                    mainProductImage.src = gqlImgPath;
                }
            });

            // Restore original attributes when mouse leaves
            data.addEventListener('mouseout', function() {
                if (mainProductImage) {
                    // Reapply the original attributes
                    Object.keys(originalAttributes).forEach(attr => {
                        mainProductImage.setAttribute(attr, originalAttributes[attr]);
                    });

                    // Reset the src if needed
                    mainProductImage.src = mainProductImagePath;
                }
            });
        });
    } else {
        console.log('Main product image not found!');
    }
});


    </script>


{{inject "products" product.related_products}}
<script>
  document.addEventListener('DOMContentLoaded', () => {
  function callOptions(){
        var jsContext = JSON.parse({{jsContext}});
        var prod = jsContext.products;
        var entityIds = Object.values(prod).map(p => p.id);
        var idString = entityIds.join(',');
        const query = `
        {
        site {
            products(entityIds: [
            ${idString}
            ], first: 50) {
            edges {
                cursor
                node {
                name
                entityId
                showCartAction
                addToCartUrl
                variants {
                    edges {
                    node {
                        entityId
                        inventory{
                          isInStock
                        }
                        productOptions(first: 50) {
                        edges {
                            node {
                            entityId
                            displayName
                            ... on CheckboxOption {
                                checkedByDefault
                            }
                            ... on MultipleChoiceOption {
                                values(first: 50) {
                                edges {
                                    node {
                                    entityId
                                    label
                                    isDefault
                                    }
                                }
                                }
                            }
                            }
                        }
                        }
                        sku
                        prices {
                        price {
                            value
                            currencyCode
                        }
                        }
                    }
                    }
                }
                }
            }
            }
        }
        }
        `;

        fetch('/graphql', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer {{ settings.storefront_api.token }}' 
        },
        body: JSON.stringify({ query })
        })
        .then(res => res.json())
        .then(data => {

            data.data.site.products.edges.forEach(product => {
                product.node.variants.edges.sort((a, b) => 
                    a.node.prices.price.value - b.node.prices.price.value
                );
            });
            var bs = data.data.site.products.edges;
            bs.forEach(function(els,keys){
                    var li_product = document.querySelector('article.card[data-entity-id="'+ els.node.entityId +'"]');
                        if (li_product) {
                              var container = li_product.querySelector('.container-add-to-cart');
                            if(els.node.variants.edges[0].node.productOptions.edges.length == 1){
                                var select = els.node.variants.edges[0].node.productOptions.edges[0].node.displayName;
                                var options_container ='';

                                els.node.variants.edges.forEach(function(options_data,index_options){
                                    if(options_data.node.inventory.isInStock){
                                    options_container += `
                                        <div option-price-data=""
                                            option-entityid="attribute[${options_data.node.productOptions.edges[0].node.entityId}]"
                                            data-value="${options_data.node.productOptions.edges[0].node.values.edges[0].node.label}"
                                            data-option-values="${options_data.node.productOptions.edges[0].node.values.edges[0].node.entityId}">
                                            ${options_data.node.productOptions.edges[0].node.values.edges[0].node.label}
                                            <span>
                                            $${options_data.node.prices.price.value}
                                            </span>
                                        </div>     
                                        `;
                                    }
                                });
                             
                                var formHTML = `
                                <form class="form-custom-option" method="get">
                                <div class="container-custom-options">
                                    <div class="dropdown--j">
                                    <div class="dropdown-button--j">
                                        <span class="selected-text--j">Select ${select}</span>
                                        <i class="chevron--j"></i>
                                    </div>
                                    <div class="dropdown-menu--j">
                                    ${options_container}
                                    </div>
                                </div>
                                <input type="text" class="hidden-inputs" name="" value="" required>
                                <button class="custom-add-to-cart" type="submit" cart-urls="${els.node.addToCartUrl}">
                                    <svg style="width:24px;height:24px;"><use xlink:href="#icon-font-awesome-shopping-cart"></use></svg>
                                    Add to Cart
                                </button>
                                </form>`;

                                if (!container) {
                                    // If the container doesn't exist, create it and add the form
                                    var main = document.createElement('div');
                                    main.setAttribute('class', 'container-add-to-cart');
                                    main.innerHTML = formHTML;
                                    li_product.appendChild(main);
                                } else {
                                    // If container already exists, just replace its contents with updated form
                                    container.innerHTML = formHTML;
                                }

                            }
                        }
            });
            initDropDowns();
        });
}

callOptions();

});
  function initDropDowns(){
            document.querySelectorAll('.dropdown-button--j').forEach(button => {
                button.addEventListener('click', function () {
                const dropdown = this.closest('.dropdown--j');
                const menu = dropdown.querySelector('.dropdown-menu--j');
                const chevron = dropdown.querySelector('.chevron--j');
                menu.classList.toggle('show--j');
                chevron.classList.toggle('up--j');
                });
            });

            document.querySelectorAll('.dropdown-menu--j div').forEach(option => {
                option.addEventListener('click', function () {
                    const dropdown = this.closest('.dropdown--j');
                    const selectedText = dropdown.querySelector('.selected-text--j');
                    const menu = dropdown.querySelector('.dropdown-menu--j');
                    const chevron = dropdown.querySelector('.chevron--j');
                    const parent = dropdown.closest('form');
                    const hidden_input = parent.querySelector('input');

                    const label = this.getAttribute('data-value');
                    console.log(this.textContent);
                    const price = this.querySelector('span')?.textContent?.trim() || '';

                    // Set combined label + price
                    selectedText.innerHTML = `${label} <span>${price}</span>`;

                    hidden_input.setAttribute('name', this.getAttribute('option-entityid'));
                    hidden_input.setAttribute('value', this.getAttribute('data-option-values'));

                    menu.classList.remove('show--j');
                    chevron.classList.remove('up--j');
                });
            });
               document.querySelectorAll('.custom-add-to-cart').forEach(crt=>{
                crt.addEventListener('click',function(b){
                    const parent = crt.closest('form');
                    const at = this.previousElementSibling;
                    const query = at.getAttribute('name') + "=" + at.value;
                    if (parent.reportValidity()) {
                        b.preventDefault();
                        const parentUrl = this.getAttribute('cart-urls');
                        const cartUrl = parentUrl +"&"+ query;
                        window.location.href = cartUrl;
                    }

                });
               });
            // Close dropdown when clicking outside
            document.addEventListener('click', function (e) {
                document.querySelectorAll('.dropdown--j').forEach(dropdown => {
                if (!dropdown.contains(e.target)) {
                    dropdown.querySelector('.dropdown-menu--j').classList.remove('show--j');
                    dropdown.querySelector('.chevron--j').classList.remove('up--j');
                }
                });
            });
    }
    function getDirectText(element) {
      let text = '';
      element.childNodes.forEach(node => {
        if (node.nodeType === Node.TEXT_NODE) {
          text += node.textContent.trim();
        }
      });
      return text;
    }
</script>



{{/partial}}
{{> layout/base}}
