h1.page-heading{
    font-size:24px;
    font-weight:bold;
    text-transform: uppercase;
}
@media(min-width:801px){
    ul.productGrid{
        margin-left:0;
        margin-right:24px;
    }
    #faceted-search-container{
        h2.sidebarBlock-heading{
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 400;
        }
        li.navList-item{
            a{
                font-size:16px;
                text-transform: uppercase;
                font-weight:bold;
                position:relative;
                width:fit-content;
                &::before{
                    content:"";
                    position:absolute;
                    width:0;
                    height:2px;
                    background-color:var(--Red);
                    bottom:4px;
                    transition:0.4s all;
                }
                &:hover::before{
                    width:100%;
                }
            }
        }
    }
    nav.pagination{
        padding-right:24px;
    }
}

@media(max-width:768px){
    aside.page-sidebar *{
        text-transform:uppercase;
    }
    h2.sidebarBlock-heading{
        font-size:22px;
        font-weight:400;
    }
    li.navList-item a.navList-action{
        font-weight:500;
        height:29px;
        display:flex;
        align-items:center;
    }
}

.form-minMaxRow{
    .form-field{
        input.form-input.form-input--small,button.button.button--small[type="submit"]{
            font-family:sans-serif !important;
        }
    }
    
}
//sidebar goes right
@media(min-width:801px){
    .page-sidebar{
        float:right;
    }
}

[category_container]{
    @media(max-width:800px){
        flex-direction:column-reverse !important;
    }
}
li.product{
    overflow:visible;
}
.mac-os[category_mac]{
  @media(min-width:801px){
      li a{
        line-height:28px !important;
    }
  }
}

@media(max-width:550px){
    #main-content{
        margin-top:50px;
    }
}

.pagination-link{
    font-family: 'Oswald',sans-serif;
    color: #383838;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
