<div class="before-footer-container">
    <div class="container-content-bf" style="display: none;">
        <div class="container-abs-left"></div>
        <div class="col-bf col-1g">
               <span class="s">SOCIALS</span>
               <span class="w-title">robusto’s</span>
               <span class="p-desc">Check out the latest post and immerse yourself in the world of cigars. Don’t’ miss out on new updates, exclusive cigars and more…</span>
               <a href="https://instagram.com" class="shop-now">Follow us on Instagram</a>
        </div>
        <div class="col-bf col-bf-gallery">
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-1a55f86e-2e42-4a93-9c1b-9d38eb0c356f" data-elfsight-app-lazy></div>
           
            {{!--
            <div class="col-img-bf flex-first" >
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/r2.png?t=1723970160" alt="gallery before footer">
            </div>
            <div class="col-img-bf flex-first" >
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/r1.png?t=1723970158" alt="gallery before footer">
            </div>
            <div class="col-img-bf flex-second">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/r3.png?t=1723970162" alt="gallery before footer">
            </div>
            <div class="col-img-bf flex-second">
                <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/r4.png?t=1723970164" alt="gallery before footer">
            </div>
            --}}

        </div>
    </div>
</div>
