<div class="container-featured-categories">
    <a class="col-categ" href="/cigars/best-sellers">
        <img data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/best-sellers-2x.png?t=1733998577" src="{{cdn 'img/loading.svg'}}" class="lazyload" alt="best sellers">
        <div class="container-abs-cta">
                <span class="c-title">BEST SELLERS</span>
                <span class="shop-now">SHOP NOW</span>
        </div>
    </a>
    <a class="col-categ" href="/cigars/rare-cigars">
        <img data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/luxury-2x.png?t=1733998574" src="{{cdn 'img/loading.svg'}}" class="lazyload" alt="best sellers">
        <div class="container-abs-cta">
                <span class="c-title">LUXURY</span>
                <span class="shop-now">SHOP NOW</span>
        </div>
    </a>
    <a class="col-categ" href="/cigars/expert-picks">
        <img data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/expert-picks-2x.png?t=1733998580" src="{{cdn 'img/loading.svg'}}" class="lazyload" alt="best sellers">
        <div class="container-abs-cta">
                <span class="c-title">EXPERT PICS</span>
                <span class="shop-now">SHOP NOW</span>
        </div>
    </a>
    <a class="col-categ" href="/accessories">
        <img data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/accessories-2x.png?t=1733998583" src="{{cdn 'img/loading.svg'}}" class="lazyload" alt="best sellers">
        <div class="container-abs-cta">
                <span class="c-title">ACCESSORIES</span>
                <span class="shop-now">SHOP NOW</span>
        </div>
    </a>
</div>
