<div class="container-static-image">
    <div class="col-static">
        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/dav-gbawards-lock-up-2021-cmyk-1.png?t=1724157321" alt="static image">
    </div>
    <div class="col-static">
        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/cra-logo-1.png?t=1724157341" alt="static image">
    </div>
    <div class="col-static">
        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/main-logo-1.png?t=1724157343" alt="static image">
    </div>
</div>
