<div class="container-top-brands">
    <h2 class="top-brands-title"><span class="line-dash">&nbsp;</span>TOP BRANDS<span class="line-dash">&nbsp;</span></h2>
    <div class="container-main-brands">
        <img data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/vector.png"  src="{{cdn 'img/loading.svg'}}" class="lazyload" alt="bg" id="bg-brands">
       <div class="p-brands">
        <div class="col-brands">
         <a href="/cigars/davidoff">
              <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/davidoff-cigars-homepage.png?t=1733342136" alt="Davidoff Cigars" class="lazyload">
         </a>
          <div class="top-brands-cta">
            <span class="brand-title">Davidoff</span>
            <a href="/cigars/davidoff/" class="shop-now">SHOP NOW</a>
          </div>
       </div>
        <div class="col-brands">
            <a href="/cigars/padron-2/">
                 <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/padron-cigars-homepage.png?t=1733342135" alt="Padron Cigars" class="lazyload">
            </a>
            <div class="top-brands-cta">
              <span class="brand-title">Padron</span>
              <a href="/cigars/padron-2/" class="shop-now">SHOP NOW</a>
            </div>
        </div>
         <div class="col-brands">
            <a href="/cigars/arturo-fuente">
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/top-brands-arturofuente.png" alt="Arturo fuente Cigars" class="lazyload">
            </a>
            <div class="top-brands-cta">
              <span class="brand-title">Arturo Fuente</span>
              <a href="/cigars/arturo-fuente/" class="shop-now">SHOP NOW</a>
            </div>
        </div>
        <div class="col-brands">
            <a href="/cigars/plasencia-2/">
                <img src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/plasencia-cigars-homepage.png?t=1733342134" alt="Plasencia Cigars" class="lazyload">
            </a>
            <div class="top-brands-cta">
              <span class="brand-title">Plasencia</span>
              <a href="/cigars/plasencia-2/" class="shop-now">SHOP NOW</a>
         </div>
        </div>
       </div>
    </div>
    <div class="below-brand-categ">
            <img  class="lazyload" data-src="https://cdn11.bigcommerce.com/s-o35pe68clg/images/stencil/original/image-manager/rare-cigars-bg-only-2x.jpg?t=1734017862" src="{{cdn 'img/loading.svg'}}" alt="brand rare cigars">
            <div class="background-half"></div>
            <div class="container-below-brand-categ">
                <span class="rd" >DISCOVER</span>
                <span class="main-brand">RARE CIGARS</span>
                <a href="/cigars/rare-cigars" class="shop-now">SHOP NOW</a>
            </div>
    </div>
</div>
